.input {
  border-radius: 999px !important;
  border: 1.5px solid #e0e0e0 !important;
}

.input:hover,
.input:focus {
  border-color: #ccff00 !important;
}

:global(.ant-input-affix-wrapper).input {
  border-radius: 999px !important;
  border: 1.5px solid #e0e0e0 !important;
}

:global(.ant-input-affix-wrapper).input:hover,
:global(.ant-input-affix-wrapper-focused).input {
  border-color: #ccff00 !important;
}

:global(.ant-form-item-has-error) :global(.ant-input-affix-wrapper).input {
  border-color: #ff4d4f !important;
}
