.input {
  border-radius: 999px !important;
  border: 1.5px solid var(--color-bg-input-border) !important;
}

.input:hover,
.input:focus {
  border-color: var(--color-accent) !important;
}

:global(.ant-form-item-has-error) .input {
  border-color: var(--color-error) !important;
}
