.input {
  border: 1.5px solid var(--color-bg-input-border);
}

.input:hover,
.input:focus {
  border-color: var(--color-accent);
}

:global(.ant-form-item-has-error) .input {
  border-color: var(--color-error);
}
